-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."audit_log" (
    "performed_action" TEXT NOT NULL,
    "date_time" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "audit_id" SERIAL NOT NULL,

    CONSTRAINT "audit_log_pkey" PRIMARY KEY ("audit_id")
);

-- CreateTable
CREATE TABLE "public"."bonus_records" (
    "upload_id" INTEGER,
    "client_id" VARCHAR(20) NOT NULL,
    "transaction_date" TIMESTAMP(6) NOT NULL,
    "symbol" VARCHAR(15) NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DECIMAL(12,2) NOT NULL,
    "total_value" DECIMAL(14,2) NOT NULL,
    "recorded_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "bonus_id" SERIAL NOT NULL,

    CONSTRAINT "bonus_records_pkey" PRIMARY KEY ("bonus_id")
);

-- CreateTable
CREATE TABLE "public"."buy_records" (
    "upload_id" INTEGER,
    "contract_number" VARCHAR(20) NOT NULL,
    "client_id" VARCHAR(20) NOT NULL,
    "transaction_date" TIMESTAMP(6) NOT NULL,
    "symbol" VARCHAR(15) NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DECIMAL(12,2) NOT NULL,
    "txn_value" DECIMAL(14,2) NOT NULL,
    "expected_commission" DECIMAL(14,2),
    "net_payable" DECIMAL(14,2),

    CONSTRAINT "buy_records_pkey" PRIMARY KEY ("contract_number")
);

-- CreateTable
CREATE TABLE "public"."client_broker_mapping" (
    "client_id" VARCHAR(20) NOT NULL,
    "client_name" VARCHAR(20) NOT NULL,
    "client_broker" INTEGER NOT NULL,
    "recorded_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "client_broker_mapping_pkey" PRIMARY KEY ("client_id")
);

-- CreateTable
CREATE TABLE "public"."order_book" (
    "upload_id" INTEGER,
    "contract_number" VARCHAR(20) NOT NULL,
    "client_id" VARCHAR(20) NOT NULL,
    "stock_symbol" VARCHAR(15) NOT NULL,
    "transaction_type" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DECIMAL(12,2) NOT NULL,
    "txn_value" DECIMAL(14,2) NOT NULL,
    "transaction_date" TIMESTAMP(6) NOT NULL,
    "recorded_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "order_book_pkey" PRIMARY KEY ("contract_number")
);

-- CreateTable
CREATE TABLE "public"."right_records" (
    "upload_id" INTEGER,
    "client_id" VARCHAR(20) NOT NULL,
    "transaction_date" TIMESTAMP(6) NOT NULL,
    "symbol" VARCHAR(15) NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DECIMAL(12,2) NOT NULL,
    "total_value" DECIMAL(14,2) NOT NULL,
    "recorded_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "right_id" SERIAL NOT NULL,

    CONSTRAINT "right_records_pkey" PRIMARY KEY ("right_id")
);

-- CreateTable
CREATE TABLE "public"."sell_records" (
    "upload_id" INTEGER,
    "contract_number" VARCHAR(20) NOT NULL,
    "client_id" VARCHAR(20) NOT NULL,
    "transaction_date" TIMESTAMP(6) NOT NULL,
    "symbol" VARCHAR(15) NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DECIMAL(12,2) NOT NULL,
    "txn_value" DECIMAL(14,2) NOT NULL,
    "profit_loss" DECIMAL(14,2),

    CONSTRAINT "sell_records_pkey" PRIMARY KEY ("contract_number")
);

-- CreateTable
CREATE TABLE "public"."symbol_holdings" (
    "client_id" VARCHAR(20) NOT NULL,
    "symbol" VARCHAR(15) NOT NULL,
    "cost_price" DECIMAL(12,2) NOT NULL,
    "quantity" INTEGER NOT NULL,
    "total_value" DECIMAL(14,2) NOT NULL,

    CONSTRAINT "symbol_holdings_pkey" PRIMARY KEY ("client_id","symbol")
);

-- CreateTable
CREATE TABLE "public"."uploads" (
    "upload_id" SERIAL NOT NULL,
    "file_name" TEXT NOT NULL,

    CONSTRAINT "uploads_pkey" PRIMARY KEY ("upload_id")
);

-- AddForeignKey
ALTER TABLE "public"."bonus_records" ADD CONSTRAINT "bonus_records_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."client_broker_mapping"("client_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."bonus_records" ADD CONSTRAINT "bonus_records_upload_id_fkey" FOREIGN KEY ("upload_id") REFERENCES "public"."uploads"("upload_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."buy_records" ADD CONSTRAINT "buy_records_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."client_broker_mapping"("client_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."buy_records" ADD CONSTRAINT "buy_records_upload_id_fkey" FOREIGN KEY ("upload_id") REFERENCES "public"."uploads"("upload_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."order_book" ADD CONSTRAINT "order_book_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."client_broker_mapping"("client_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."order_book" ADD CONSTRAINT "order_book_upload_id_fkey" FOREIGN KEY ("upload_id") REFERENCES "public"."uploads"("upload_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."right_records" ADD CONSTRAINT "right_records_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."client_broker_mapping"("client_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."right_records" ADD CONSTRAINT "right_records_upload_id_fkey" FOREIGN KEY ("upload_id") REFERENCES "public"."uploads"("upload_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sell_records" ADD CONSTRAINT "sell_records_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."client_broker_mapping"("client_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sell_records" ADD CONSTRAINT "sell_records_upload_id_fkey" FOREIGN KEY ("upload_id") REFERENCES "public"."uploads"("upload_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."symbol_holdings" ADD CONSTRAINT "symbol_holdings_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."client_broker_mapping"("client_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

